<footer>
    <div class="info">
        <div class="container logo">
            <img  src="../assets/img/logo/footparr.png" >
        </div>
        <div class="info-nav">
            <ul class="footer-navbar-nav">
                <li class=" ">
                    <a class="footer-nav-link" href="#about">ABOUT US</a>
                </li>
                <li class=" ">
                    <a class="footer-nav-link" href="#">TERMS OF SERVICE</a>
                </li>
                <li class=" ">
                    <a class="footer-nav-link " href="#">PRIVATE POLICY</a>
                </li>
                <li class=" ">
                    <a class="footer-nav-link" href="#">CONTUCT US</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer-c">
      © 2018 Find Parrot
    </div>

</footer>
