<header id="intro" class="mainhead helpfix mask">

        <div class="container">
            <div class="container d-flex h-100 align-items-center" style="margin: 32px auto 0 auto;">
                <div class="mx-auto text-center">
                    <h1>Quick Search for Your <span class="name">Perfect Product</span></h1>
                    <p class="mx-auto my-2 text-uppercase font-weight-light">innovate &#183; list &#183; connect</p>

                    <div class="input-group my-3 py-4">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-light dropdown-button-custom dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</button>
                            <div class="dropdown-menu ">
                                <a class="dropdown-item" href="#">Category 1</a>
                                <a class="dropdown-item" href="#">Category 2</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div role="separator" class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </div>
                        <input type="text" class="form-control" aria-label="Text input with dropdown button">
                        <div class="input-group-append">
                            <button class="btn button-search text-uppercase active"  type="button">start searching</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="container white-buttons">
            <a href="#"><img src="../assets/img/allcateg.png" alt=""></a>
            <a href="#"><img src="../assets/img/hiw.png" alt=""></a>
        </div>


</header>
