.navbar{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
	padding: 0.5rem 160px;
	display: flex;
	align-items: center;
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(229,230,234,1));
	justify-content: space-between;
}

.navbar-brand{
    padding-left: 30px;
}
.nav-button{
	text-decoration: none;
	padding: .5rem 3rem;
    font-size: 18px;
    line-height: 30px;
    color: #000000;

}
.navbar-icon{
	display: none;
}
/*
.navbar-collapse{
    text-align: end;
} */

.vl {
    border-left: 1px solid #cdcdcd;
    height: 100%;
}
.navbar-nav{
	display: flex;
	list-style: none;
}



@media screen and (max-width: 1965px) {
    .nav-button, .footer-nav-link{
        font-size: 0.75rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .navbar img{
        height: 3rem;
    }

}

@media screen and (max-width: 1298px) {
    nav.navbar{
        padding-left: 20px!important;
        padding-right: 20px!important;
    }
    .nav-button{
        font-size: 0.7rem;
    }


}

@media screen and (max-width: 768px) {

    .nav-button{
        font-size: 0.7rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }


    .navbar img{
        height: 2rem;
    }


}
/* navbar icon */
@media screen and (max-width: 767px) {
	.vl{
		border: none;
	}
	.navbar-nav{
		flex-direction: column;
	}
	.navbar-icon{
		display: block;

		width: 25px;
		height: 25px;
	}
	/* .navbar-icon{
		margin-left: 500px;
	} */
	/* .navbar-toggle{
		display: none;
	}
	.navbar-nav{
		display: none;
	} */
}
@media screen and (max-width: 560px) {
    .navbar-icon{
        width: 20px;
        height: 20px;
    }
    .nav-button{
        font-size: 0.5rem;
        padding-right:  0;
    }
    .navbar-brand{
        padding: 0;
    }

}

@media screen and (max-width: 357px) {

    .nav-button{
        font-size: 0.5rem;
        padding:  0;
    }
    .navbar-brand{
        padding: 0;
		height: 1rem;
    }

}
