<nav class="bg navbar navbar-expand-md navbar-light fixed-top  py-2 px-4 ">
    <a class="navbar-brand js-scroll-trigger" href="#"> <img src="../assets/img/logo/logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <ul class="navbar-nav ">
            <li class="">
                <a class="nav-button" href="#">ALL PRODUCTS</a>
            </li>
            <li class="">
                <a class="nav-button" href="#">ABOUT US </a>
            </li>
            <li class="">
                <a class="nav-button" href="#">LOG IN </a>
            </li>
            <li class="vl">
                <a class="nav-button" href="#">SIGN IN</a>
            </li>
        </ul>
    </div>
</nav>
