<nav class="navbar">

    <div class="navbar-brand">
        <a class="" href="#"> <img src="../assets/img/logo/logo.png" alt=""></a>
    </div>
    <div class="navbar-icon">
        <button class="" href="#" (click)="toggle()"><img src="../assets/img/icon.png" alt=""></button>
    </div>
    <div *ngIf="show" class="nav-menu" >
        <ul  class="navbar-nav ">
            <li class="">
                <a class="nav-button" href="#">ALL PRODUCTS</a>
            </li>
            <li class="">
                <a class="nav-button" href="#">ABOUT US </a>
            </li>
            <li class="">
                <a class="nav-button" href="#">LOG IN </a>
            </li>
            <li class="vl">
                <a class="nav-button" href="#">SIGN IN</a>
            </li>
        </ul>
    </div>
</nav>
